$white: #FFFFFF;
$light-black: #151515;
$light-gray: #CDD1DA;
$blue: #0066FF;
$gray: #757575;
$light-gray-secondary: #9797AA;
$light-blue: #5F65F6;
$dark-white: #F5F7FB;
$dark-gray-secondary: #878C93;
$dark-blue: #6153CC;
$light-red: #FF715B;
$dark-yellow: #FFB627;